{% extends "fundacionapp/base.html" %}

{% load static %}

{% block content %}

    {% for eventos in eventos %}  

    <section class="page-section clearfix">
        <div class="container">
          <div class="intro">
            <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{{eventos.imagen.url}}" alt="" style="width: 42%;">
            <div class="intro-text left-0 text-center bg-faded p-5 rounded" id="texto_evento">
              <h2 class="section-heading mb-4" >
                <span class="section-heading-lower">{{eventos.titulo}}</span>
                <span class="section-heading-upper">{{eventos.contenido}}</span>
              </h2>
              
             
            </div>
          </div>
        </div>
      </section>


    {% endfor %}

{% endblock %}